.rp-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.rp-child{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
}
.rp-child img{
    width: 40%;
    height: 100px;
    padding: 10px;
   
}
.rp-child p{
    color: lightgray;
}


.rp-child:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}